body {
  font-family: cursive;
  font-size: 30px;
}

.nav {
  display: flex;
  justify-content: flex-start;
  background: #47e9c6;
}

.nav a {
  color: black;
  padding: 15px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
}

.nav a:hover {
  background: #9de2c5;
  line-height: 70px;
}

.menu {
  margin: 0 50px 0 0;
}

label {
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 320px) {
  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a {
    display: block;
    border-bottom: 1px solid black;
    margin: 0;
  }
  #toggle:checked + .menu {
    display: block;
  }
}
